{% extends 'layout.html.twig' %}

{% block contentTitle %}
<h3><a href="{{ path('dashboard') }}"> Tableau de Bord</a></h3>
{% endblock %}

{% block container %}


    {#<div class="row">#}
    {#<div class="col-lg-12 col-md-12">#}
    {#<div class="col-lg-4 col-md-4">#}
    {#<div class="card card-stats">#}
    {#<div class="card-header" data-background-color="orange">#}
    {#<i class="material-icons">content_copy</i>#}
    {#</div>#}
    {#<div class="card-content">#}

    {#<p class="category">{{ article_count }}</p>#}
    {#<h3 class="title"><small>Articles à commander</small></h3>#}
    {#</div>#}
    {#<div class="card-footer">#}
    {#<div class="stats">#}
    {#<i class="material-icons text-danger">warning</i>  <a href="{{ path('article_affiche') }}">Afficher la liste</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-lg-4 col-md-4">#}
    {#<div class="card card-stats">#}
    {#<div class="card-header" data-background-color="blue">#}
    {#<i class="material-icons">content_copy</i>#}
    {#</div>#}
    {#<div class="card-content">#}
    {#<p class="category">{{ bon_attente }}</p>#}
    {#<h3 class="title"><small>Bon d'entrée en attente de validation</small></h3>#}

    {#</div>#}
    {#<div class="card-footer">#}
    {#<div class="stats">#}
    {#<i class="material-icons text-danger">warning</i> <a href="{{ path('bonentree_affiche') }}">Afficher la liste</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}




    {#<div class="col-lg-4 col-md-4">#}
    {#<div class="card card-stats">#}
    {#<div class="card-header" data-background-color="green">#}
    {#<i class="material-icons">content_copy</i>#}
    {#</div>#}
    {#<div class="card-content">#}
    {#<p class="category">{{ sortie_attente }}</p>#}
    {#<h3 class="title">Ordre(s) de Sortie <small>en attente de validation</small></h3>#}
    {#<h3 class="title"><small>Bon de sortie en attente de validation</small></h3>#}
    {#</div>#}
    {#<div class="card-footer">#}
    {#<div class="stats">#}
    {#<i class="material-icons text-danger">warning</i> <a href="{{ path('bonsortie_affiche') }}">Afficher la liste...</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-lg-4 col-md-4">#}
    {#<div class="card card-stats">#}
    {#<div class="card-header" data-background-color="blue">#}
    {#<i class="material-icons">content_copy</i>#}
    {#</div>#}
    {#<div class="card-content">#}
    {#<p class="category">{{ bonrejeter }}</p>#}
    {#<h3 class="title">Ordre de Sortie <small>Rejeté(s)</small></h3>#}
    {#</div>#}
    {#<div class="card-footer">#}
    {#<div class="stats">#}
    {#<i class="material-icons text-danger">warning</i> <a href="{{ path('bonsortie_rejeter') }}">Afficher la liste....</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-lg-4 col-md-4">#}
    {#<div class="card card-stats">#}
    {#<div class="card-header" data-background-color="green">#}
    {#<i class="material-icons">content_copy</i>#}
    {#</div>#}
    {#<div class="card-content">#}
    {#<p class="category">Used Space</p>#}
    {#<h3 class="title">49/50<small>GB</small></h3>#}
    {#</div>#}
    {#<div class="card-footer">#}
    {#<div class="stats">#}
    {#<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#</div>#}
{% endblock %}
