{% extends 'layout.html.twig' %}
{% block contentTitle %}
    <h3><a href="{{ path('personne_index') }}"> Gestion des Chefs de Projet </a></h3>
{% endblock %}


{% block container %}
<div class="row">
    <div class="col-lg-8 col-md-8">
        <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="purple">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <h3>Liste des Chefs de Projet </h3>
                    </div>
                </div>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td><a href="{{ path('personne_show', { 'id': personne.id }) }}">{{ personne.id }}</a></td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.adresse }}</td>
                <td class="td-actions text-right">
                    <a rel="tooltip" title="Afficher" class="btn btn-success btn-simple btn-xs" href="{{ path('personne_show', { 'id':personne.id }) }}"><i class="material-icons">visibility</i></a>
                    <a rel="tooltip" title="Modifier" class="btn btn-info btn-simple btn-xs" href="{{ path('personne_edit', { 'id': personne.id }) }}"><i class="material-icons">edit</i></a>

                </td>
                {#<ul>#}
                {#<li>#}
                {#<a href="{{ path('projet_show', { 'id': projet.id }) }}">show</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="{{ path('projet_edit', { 'id': projet.id }) }}">edit</a>#}
                {#</li>#}
                {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="purple">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <h3>Ajout / Edition <span class="pull-right"></span></h3>
                    </div>
                </div>
            </div>
            <div class="card-content">


                <div class="card-content" >

                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <button type="submit" rel="tooltip" title="Enregistrer" class="btn btn-primary pull-right" href="{{ path('personne_new') }}"><i class="material-icons">save</i></button>

                    {{ form_end(form) }}

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}
