{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <span>
            <a href="{{ path("fos_user_profile_show") }}" class="btn btn-pinterest pull-right" style="margin-left:20px;" rel="tooltip" title="Voir le profil">
                <i class="large material-icons">portrait</i>
            </a>
            <a href="{{ path("dashboard") }}" class="btn btn-primary pull-left" rel="tooltip" title="Tableau de bord">
                <i class="large material-icons">arrow_back</i>
            </a>
        </span>

        <div class="card">

            <div class="card-header" data-background-color="purple">
                <h4 class="title">Modifier votre mot de passe</h4>
            </div>

            <div class="card-content">

                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group label-floating">
                                {{form_label(form.current_password,"Mot de passe actuel * :")}}
                                {{form_errors(form.current_password)}}
                                {{form_widget(form.current_password,{'attr':{'id':'current_password'}})}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group label-floating">
                                {{form_label(form.plainPassword.first,"Nouveau mot de passe * :")}}
                                {{form_errors(form.plainPassword.first)}}
                                {{form_widget(form.plainPassword.first,{'attr':{'id':'new_password'}})}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group label-floating">
                                {{form_label(form.plainPassword.second,"Confirmation du nouveau mot de passe * :")}}
                                {{form_errors(form.plainPassword.second)}}
                                {{form_widget(form.plainPassword.second,{'attr':{'id':'confirm_new_password'}})}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="btn btn-success pull-right" rel="tooltip"  title="Enregistrer">
                                <i class="large material-icons">save</i>
                            </button>
                            <a href="{{ path("fos_user_profile_show") }}" class="btn btn-default pull-left" rel="tooltip" title="Retour">
                                <i class="large material-icons">arrow_back</i>
                            </a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>