{% extends 'layout.html.twig' %}
            {% if is_granted('ROLE_CHEF_DE_PROJET') %}

{% block container %}
    <div class="row">
    <div class="col-lg-4 col-md-4">
    <div class="card card-nav-tabs">
    <div class="card-header" data-background-color="purple">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <h3>Edition d'un projet </h3>
            </div>
        </div>
    </div>


    <div class="card-content table-responsive">
    <table class="table table-hover">
    <thead class="text-warning">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}  <a href="{{ path('projet_index') }}" rel="tooltip" title="Liste des projets" class="btn btn-primary btn-round" >
    <i class="material-icons">list</i>
</a> {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}

    {% endif %}

{% endblock %}